doctype html
html(lang="ja")
    head
        meta(charset="UTF-8")
        title Index
        style.
            h1 {
                font-size: 60pt;
                color: #eee;
                text-align: right;
                margin: 0;
            }
            body {
                font-size: 14pt;
                color: #999;
                margin: 5px;
            }
    body
        header
            h1 Index
        main
            p This is Index Page.
            p これは、Pugを使ったWebページです。